# MQTT Broker Configuration
MQTT_BROKER=mqtt.iot-lab.utwente.nl
MQTT_PORT=1883
MQTT_TOPIC=trackers/HTIT_51/#
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

# Kafka Broker Configuration
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=trackers.HTIT_51.gps
